#cellTitles {

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50%

}

li, .listItem{

    display:flex;
    flex-direction: row;
    justify-content: start;
    /* margin:10px; */
}
.listItem, input {

    width: 10%;

}